main{
    font-size: larger;
    font-weight: bolder;
    text-align:center;
}
body
{
    margin: 0;
    padding: 0;
    font-family:  'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(
        to left,
        rgba(7, 27, 82, 1) 0%,
        rgba(0, 128, 128, 1) 100%
      );
}

h1{
    color: #02007a;
    text-align:center;
    margin-top: 10%;
}
h2{
    color: #ff0000;
}
h3{
    color: #ff9100;
}
h1:first-child{
    color: #020202;
}

.value{
    font-size: 6em;
    font-weight: bold;
}
